:root {
    --primary-color: #ffffff;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --gray: #c1f4facb;
    --bg-color: #5f5f5fcb;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

body a {
    text-decoration: none;
}

/*HEADER STYLE START*/
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-image: url("../images/hero-bg.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
  }

header h1 a {
    color: var(--gray);
    margin: 0;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header h1 .off-color {
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
  }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--secondary-color);
  }

  header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
  }


/*HEADER STYLE END*/