:root {
    --primary-color: #eaebee;
    --secondary-color: #024e76;
    --tertiary-color: #39a6b2;
    --gray: #c1f4facb;
    --bg-color: #838383cb;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-family: Helvetica, Arial, sans-serif;
}

body a {
    text-decoration: none;
}

/*HEADER STYLE START*/
header {
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 9999;
  }

header h1 a {
    color: var(--gray);
    margin: 0;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header h1 .off-color {
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
  }

header nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--secondary-color);
  }

  header nav ul li a:hover {
    background: var(--secondary-color);
    color: var(--primary-color);
    border-radius: 15px;
    text-shadow: none;
  }

/*HEADER STYLE END*/

/* HERO STYLES START */
.hero {
    background-image: url('../images/hero-bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-position: 80%;
}
.hero h2 {
    padding: 70px;
}
/*HERO STYLE END*/  

/*ABOUT ME STYLE START*/
.about-me {
    width: 100%;
    margin: 34px auto;
    padding: 42px 35px;
    background-image: url('../images/turkey.jpg');
    background-size: cover;
    background-position: 0% 38%;
    
}
.about-me h2 {
    font-weight: bold;
    font-size: 36px;
    color: var(--gray);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.about-me img  {
    width: auto;
    height: 300px;
    border: solid 10px var(--secondary-color);
}
.about-me p {
    width: 300px;
    height: auto;
    line-height: 1.7;
    border: 3px solid var(--secondary-color);
    background-color: rgba(234, 235, 238, .7);
    padding: 20px;
    color: var(--secondary-color);
    width: 35%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/*ABOUT ME STYLE END*/

/*MY WORK STYLE START*/

.my-work h2 {
    font-weight: bold;
    font-size: 36px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 0 35px 34px;
}

.my-works {
  height: auto;
  width: 80px;
  padding: 10px;
  display: contents;
  justify-content: flex-end;

}


.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.work-1 {
  height: 300px;
  width: 300px;
  background-image: url(../images/Wolf.JPG);
  background-position-x: -656px;
  background-position-y: -321px;
  background-size: 182%;
  margin: 0 10px 20px;
  padding: 10px;
  border-radius: 15px;
  
}

.work-2 {
  height: 130px;
  width: 300px;
  background-image: url(../images/Crypto.jpg);
  background-position-x: 22px;
  background-position-y: -176px;
  background-size: 114%;
  margin: 0 10px 40px;
  padding: 10px;
  border-radius: 15px;
}

.work-3 {
  height: 130px;
  width: 300px;
  background-color: rgba(234, 235, 238, .4);
  margin: 0 10px 40px;
  padding: 10px;
  border-radius: 15px;
}


.work-1:hover, .work-2:hover, .work-3:hover {
  background-color: rgba(234, 235, 238, .9);
  box-shadow: 0 0 10px rgb(0 0 0 / 50%);
}
.work-1 p {
  position: relative;
  top: 259px;
  overflow: auto;
  width: 40%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  text-shadow: 0 0 10px rgba(102, 199, 255, 0.4);
  padding-block: inherit;
  
}

.work-2 p, .work-3 p {
  position: relative;
  top: 67px;
  overflow: auto;
  width: 70%;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 15px;
  padding-block: inherit;
  text-shadow: 0 0 10px rgba(102, 199, 255, 0.4);
}

/*MY WORK STYLE END*/

/* FOOTER STYLES START */
footer {
    background: var(--tertiary-color);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
  }
  
footer h2 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    color: var(--secondary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  
  footer div {
    line-height: 1.5;
    text-align: right;
  }
  
  footer a {
    color: var(--secondary-color);
  }

  footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-top: 10px;
  }

  footer ul li {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: var(--secondary-color);
  }

  footer ul li a:hover {
    color: var(--primary-color);
    text-shadow: none;
  }
  /* END FOOTER STYLES */

  /* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 15px;
    justify-content: center;
    position: relative;
}

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 20px;
  }

  footer h2 {
    width: 100%;
    text-align: center;
  }

  footer ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }
  footer ul li {
    font-size: 20px;
  }

  footer ul li a {
    font-size: 20px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  .container {
    justify-content: center;
  }
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px) {
  header nav ul  {

  }
  
  header nav ul a {
    display: flex;
  }

  .about-text {
    position: relative;
    right: 14px;
  }

  .work-text {
    position: relative;
    left: 6px;
  }

  .about-me {
    background-position: 55%;
}

.about-me p {
  width: 100%;
  margin-top: 142px;
  position: relative;
  top: 36px;
}

.about-me h2 {
  text-align: center;
}
}
